<label>Ingresar como estudiante</label>
<%= link_to  "Aqui", controller:"student", action:"ingresar"%>

<label>Ingresar como empresa</label>
<%= link_to  "Aqui", controller:"company", action:"ingresar"%>

<label>Ingresar como administrador</label>
<%= link_to  "Aqui", controller:"administrator", action:"ingresar"%>